@font-face
{
	font-family: Champagne;
	src: url(/css/cac_champagne.ttf);
}

body
{
	font-family: Arial;
	background-color: #EEE9D5;
	
	padding: 0px;
	margin: 0px;
	
	text-align:center;
	
	height: 100%;
}

#main
{
	text-align: left;
	margin: 0px auto 0px auto;
	padding: 0px 10px 10px 10px;
	
	width: 800px;
}

a
{
	color: #BE2525;
	text-decoration: none;
}

a img
{
	border-style: none;
}

a:hover
{
	text-decoration: underline;
}

table
{
	border-collapse: collapse;
}
td
{
	padding: 0px;
	margin: 0px;
	border-style: none;
}

h1
{
	font-family: Champagne;
	font-size: 60px;
	
	margin: 10px 0px 10px 0px;
}

h3
{
	font-family: Champagne;
	font-size: 42px;
	
	margin: 40px 0px 5px 0px;
}

p
{
	margin: 0px;
}

p + p
{
	margin-top: 20px;
}

li
{
	margin-top: 5px;
}

hr
{
	height: 0px;
	border-left-style: none;
	border-right-style: none;
	
	border-top: solid 1px #666666;
	border-bottom: none;

	margin-bottom: 40px;
}
h1 + hr
{
	margin-top: -20px;
}




.boxed
{
	padding: 15px;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 15px 0px #404040;
	
	border-radius: 5px;
}

.boxed img
{
	border-radius: 5px;
}



#logo
{
	width: 256px;
	display: inline-block;
	
	font-family: Champagne;
	font-size: 52px;
	color: #C46584;
	text-align: center;
	
	padding: 10px 15px;
	margin-right: 20px;
	margin-bottom: 20px;
	
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#logo a
{
	color: inherit;
	text-decoration: none;
}

#logo a:hover
{
	text-shadow: 1px 1px #bfbfbf;
}


	

#menu
{
	width: 485px;
	
	display: inline-block;
	vertical-align: middle;
	
	font-family: Champagne;
	font-size: 28px;
	text-align: center;
	
	margin: 20px 0px;
}

#menu a:hover
{
	text-shadow: 1px 1px #bfbbaa;
	text-decoration: none;
}





#left-pane
{
	width: 286px;
	margin-right: 20px;
	margin-bottom: 20px;
	
	display: inline-block;
	float: left;
}

#left-pane .boxed
{
	margin-bottom: 20px;
}

#bottom-pane
{
	text-align: center;
}

#bottom-pane .boxed
{
	display: inline-block;
	
	margin-bottom: 20px;
	margin-right: 20px;
}

#content
{
	width: 464px;
	margin-bottom: 20px;
	float: left;
}
